<h2><%= @restaurant.name %></h2>

<%= @restaurant.category %>
<%= @restaurant.address %>

<div class="reviews-container"
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <%= '⭐️' * review.rating %>
        <%= review.content %>
      </li>
    <% end %>
  </ul>
</div>

<%= render "reviews/form", restaurant: @restaurant %>

<%= link_to "<home", restaurants_path %>
